h1 = tournament.title
br

h3 Tournament's divisions
br

= render partial: 'divisions', locals: { divisions: divisions }

- if divisions.all? { |d| d.played_out? }
  = render partial: 'playoff', locals: { divisions: divisions }